<div id="page">

    <div class="page__content">

        <div class="page__header">
            <h1 class="page__headerTitle" locator="name">Andrew Borovin</h1>
        </div>

        <div class="resume">
            <div class="resume__top">
                <div class="resume__photo">
                    <img src="/img/avatar.jpg" alt="Андрей Боровин"/>
                </div>
                <div class="resume__info">
                    <div class="resume__infoRow">
                        <div class="resume__infoTitle">City:</div>
                        <div class="resume__infoText">Saint-Petersburg</div>
                    </div>

                    <div class="resume__infoRow">
                        <div class="resume__infoTitle">Profession:</div>
                        <div class="resume__infoText">Front-end developer</div>
                    </div>

                    <div class="resume__infoRow">
                        <div class="resume__infoTitle">Skype:</div>
                        <div class="resume__infoText" locator="skype">andrew.borovin</div>
                    </div>

                    <div class="resume__infoRow">
                        <div class="resume__infoTitle">Phone:</div>
                        <div class="resume__infoText" locator="phone">+7-921-890-2868</div>
                    </div>

                    <div class="resume__infoRow">
                        <div class="resume__infoTitle">e-mail:</div>
                        <div class="resume__infoText">
                            <a href="mailto:a@borovin.com"
                               data-navigate="0"
                               locator="email">a@borovin.com</a>
                        </div>
                    </div>

                    <div class="resume__infoRow">
                        <div class="resume__infoTitle">Github:</div>
                        <div class="resume__infoText">
                            <a locator="githubLink"
                               target="_blank"
                               data-navigate="0"
                               href="https://github.com/borovin">github.com/borovin</a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="resume__card">
                <ul class="resume__experience">
                    <% _.each(block.data.jobs, function(job){ %>
                    <li class="resume__experienceItem">
                        <h3 class="resume__experienceTitle"><%- job.title %></h3>
                        <br/>

                        <div class="resume__experiencePlace">

                            <% if (job.url){ %>
                            <a href="<%- job.url %>"><%- job.company %></a>,
                            <% } else { %>
                            <%- job.company %>,
                            <% } %>

                            <%- job.dateFrom %> — <%- job.dateTo %>
                        </div>

                        <div class="resume__experienceText">
                            <%= job.description() %>
                        </div>
                    </li>
                    <% }) %>
                </ul>

                <h3>Professional knowledge and skills:</h3>

                <div class="resume__experienceText">

                    <%= block.data.resume() %>

                </div>

            </div>
        </div>
    </div>


    <div class="page__content page__content_works">

        <div class="page__header">
            <h1 class="page__headerTitle">Works</h1>
        </div>

        <noindex>

            <div class="portfolio">
                <% _.forEach(block.data.portfolio, function(project){ %>

                <div class="portfolio__item">
                    <h3 class="portfolio__itemTitle"><%- project.title %></h3>

                    <%= block.include(require('blocks/slider/slider'), {
                        project: project
                    }) %>

                </div>
                <% }) %>
            </div>

        </noindex>
    </div>

</div>