<% var slider = require('blocks/slider/slider') %>

<div id="page">

    <div class="page__content">

        <div class="page__header">
            <h1 class="page__headerTitle" locator="name">Андрей Боровин</h1>
        </div>

        <div class="resume">
            <div class="resume__top">
                <div class="resume__photo">
                    <img src="/img/avatar.jpg" alt="Андрей Боровин"/>
                </div>
                <div class="resume__info">
                    <div class="resume__infoRow">
                        <div class="resume__infoTitle">Город:</div>
                        <div class="resume__infoText"><%- models.info.get('city') %></div>
                    </div>

                    <div class="resume__infoRow">
                        <div class="resume__infoTitle">Призвание:</div>
                        <div class="resume__infoText"><%- models.info.get('profession') %></div>
                    </div>

                    <div class="resume__infoRow">
                        <div class="resume__infoTitle">Skype:</div>
                        <div class="resume__infoText" locator="skype"><%- models.info.get('skype') %></div>
                    </div>

                    <div class="resume__infoRow">
                        <div class="resume__infoTitle">Телефон:</div>
                        <div class="resume__infoText" locator="phone"><%- models.info.get('phone') %></div>
                    </div>

                    <div class="resume__infoRow">
                        <div class="resume__infoTitle">e-mail:</div>
                        <div class="resume__infoText">
                            <a href="mailto:<%- models.info.get('mail') %>"
                               data-navigate="0"
                               locator="email"><%- models.info.get('mail') %></a>
                        </div>
                    </div>

                    <div class="resume__infoRow">
                        <div class="resume__infoTitle">Github:</div>
                        <div class="resume__infoText">
                            <a locator="githubLink"
                               target="_blank"
                               data-navigate="0"
                               href="https://github.com/<%- models.info.get('github') %>">github.com/<%- models.info.get('github') %></a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="resume__card">
                <ul class="resume__experience">
                    <% _.each(data.jobs, function(job){ %>
                    <li class="resume__experienceItem">
                        <h3 class="resume__experienceTitle"><%- job.title %></h3>
                        <br/>

                        <div class="resume__experiencePlace">

                            <% if (job.url){ %>
                            <a href="<%- job.url %>"><%- job.company %></a>,
                            <% } else { %>
                            <%- job.company %>,
                            <% } %>

                            <%- job.dateFrom %> — <%- job.dateTo %>
                        </div>

                        <div class="resume__experienceText">
                            <%= job.description() %>
                        </div>
                    </li>
                    <% }) %>
                </ul>

                <h3>Профессиональные знания и навыки:</h3>

                <div class="resume__experienceText">

                    <%= data.resume() %>

                </div>

            </div>
        </div>
    </div>


    <div class="page__content">

        <div class="page__header">
            <h1 class="page__headerTitle">Работы</h1>
        </div>

        <noindex>

            <div class="portfolio">
                <% _.forEach(data.portfolio, function(project){ %>

                <div class="portfolio__item">
                    <h3 class="portfolio__itemTitle"><%- project.title %></h3>

                    <%= block(slider, {
                        project: project
                    }) %>

                </div>
                <% }) %>
            </div>

        </noindex>
    </div>

</div>